{% macro todo_item(todo) %}
    <li class="task flex items-start py-3 w-full hover:bg-gray-100 transition-colors">
        <form action="/todos/{{ todo.id }}/finish" method="post">
            <button role="checkbox" class="task_checkbox border-none mr-2 mt-1">
                <div class="task_checkbox__circle border border-gray-500 rounded-full hover:bg-gray-200 transition-colors">
                    <svg class="w-4 h-4 text-gray-400" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="12"/>
                    </svg>
                </div>
            </button>
        </form>
        <div class="task-details w-full flex justify-between">
            <div class="task-details flex flex-col">
                <h3 class="text-base mb-1">
                    {% if todo.status === 1 %}<del>{% endif %}
                    {{ todo.title }}
                    {% if todo.status === 1 %}</del>{% endif %}
                </h3>
                <p class="text-xs text-gray-400 pb-1">{{ todo.description }}</p>
                {% if todo.overdue %}
                    <p class="text-xs text-red-400">{{ todo.formattedDueDate }}</p>
                {% else %}
                    <p class="text-xs text-gray-400">{{ todo.formattedDueDate }}</p>
                {% endif %}
            </div>
            <form action="/todos/{{ todo.id }}/delete" method="post" class="pr-2">
                <button type="submit" class="task_delete">
                    <svg class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                    </svg>
                </button>
            </form>
        </div>
    </li>
{% endmacro %}

<div class="view">
    <header class="view-header flex mb-8 pt-16 px-16">
        <div class="view-header__content flex w-full max-w-screen-md mx-auto">    
           <h2 class="text-2xl font-bold">Tasks</h2>
        </div>
    </header>
    <div class="view-content max-w-screen-md mx-auto">
        <ul class="items list-none divide-y">
            {% for todo in todos %}
                {{ todo_item(todo) }}
            {% endfor %}
            <form action="/todos" method="post" class="pt-2">
                <div class="flex flex-col space-y-2 items-start">
                    <input placeholder="Give your task a title" name="title"
                        class="text-base appearance-none bg-transparent border rounded w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none focus:outline-none focus:border-gray-400 transition-all" type="text">
                    <textarea placeholder="Description" name="description"
                        class="text-sm form-textarea appearance-none bg-transparent border rounded w-full text-gray-700 py-1 px-2 leading-tight focus:outline-none focus:border-gray-400 transition-all"></textarea>
                    <button class="rounded bg-red-500 text-sm hover:bg-red-400 transition-all text-white py-2 px-4" type="submit">
                        Add task
                    </button>
                </div>
            </form>
        </ul>
    </div>
</div>